/* ultiliza a pagina inteira  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 15px Arial;
}

.menu {

    background-color: #e8e4e4;
    padding: 20px 0px;
    
    ul{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        /* remove as bolinhas da lista */
        list-style: none;
    }
    .perfil{
        display: flex;
        padding-left: 1750px;
        
        #img_menu{
            width: 14px;
            height: 14px;
        }


    }

    
    ul li a{
        /* muda a cor dos elementos <a>*/
        color: rgb(3, 3, 3);
        /* tira a decoração do texto <a>*/
        text-decoration: none;
        /* define o espaço de cada elemento <a>*/
        padding: 20px;
        /* define um tempo para transição de cada elemento,
        demora um tempo para sair de um elemento a outro quando passa o mouse em cima do mesmo */
        transition: all .3s;
    }

    /* :hover serve para quando no eu passar o mouse no botão link ele mudar de cor */
    ul li a:hover{
        background-color: rgb(82, 178, 216);
    }

}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;

    .footer_modal {
        text-align: right;
        padding: 15px 0px;
        background-color: #fff;
    }
    
    .footer-btn-close {
        width: 150px;
        padding: 10px;
        text-decoration: none;
        background-color: #cfcca8;
        border-radius: 3px;
        color: black;
    }

    .content {
        border-radius: 4px;
        position: relative;
        width: 500px;
        max-width: 90%;
        background: #fff;
        padding: 1em 2em;

        .perfil_list{ 
        
            ul li{
                list-style: none;
            }

            ul li a{
                display: flex;
                text-decoration: none;
                padding-top: 10px;
                color: black;
            }

            ul li a:hover{
                /* muda a cor dos elementos <a>*/
                color: rgb(3, 3, 3);
                /* tira a decoração do texto <a>*/
                text-decoration: none;
                /* define o espaço de cada elemento <a>*/
                padding: 10px;
                background-color: #cfcca8;
                /* define um tempo para transição de cada elemento,
                demora um tempo para sair de um elemento a outro quando passa o mouse em cima do mesmo */
                transition: all .3s;
            }
        }
    }
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.post{
    .user_post{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-right: 700px;
        
        img{
            width: 14px;
            height: 14px;
        }
    }

    .img_post{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .descrition_post{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-right: 290px;
    }

    .like_post{
        display: flex;
        justify-content: center;
        padding-right: 700px;
    }
}

.coment_post{
    .coment_user{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-right: 700px;

        img{
            width: 14px;
            height: 14px;
        }
    }

    #gerar_comentario{
        display: flex;
        padding-left: 834px;
        margin-top: 10px;
    }

    textarea{
        border-radius: 10px;
    }

    .coment_coment{
        display: flex;
        justify-content: center;
        margin-top: 5px;

        i{
            display: flex;
            padding-left: 5px;
            margin-top: 80px;
        }
    }

    .coment{
        display: flex;
        padding-left: 834px;

        textarea{
            margin-top: 10px;
        }
        
        input{
            width: 80px;
            height: 25px;
            margin-top: 70px;
            border-radius: 5px;
            background-color: rgb(162, 162, 241);
        }

        #button{
            padding-left: 5px;
        }
    }
}

.footer{
    padding: 20px 0px;
    background-color: black;
    color: white;
    margin-top: 15px;
    
    ul{
        /* remove as bolinhas da lista */
        list-style: none;
        /* tamanho de quando o campo ocupa, como em cima tirei as bolinhas ele ficou pra frente
        sem bolinha, padding: 0; para ele nao ocupar espaços desnecessarios */
        padding: 10px;
        /* coloca cor nesse id inteiro */
        background-color: black;
        /* alinha os elementos no centro */
        text-align: center;
    }
    
    /* pegando os filhos de li */
    ul li{
        /* deixa os <li> em linha */
        display: inline;
    
    }
    
    /* pegando os filhos de a */
    ul li a i{
        /* deixa os li em linha <a>*/
        display: inline;
        /* muda a cor dos elementos <a>*/
        color: white;
        padding: 10px;
    }

    #contato{
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            margin-top: 5px;
        }
    }

    .copy{
        text-align: center;
        margin-top: 10px;
    }
}